.table-view .column-header {
	-fx-size: 25; /* it need to set correct size for occurence canvas */
}

.table-row-cell {
	-fx-font-size: 12px;
	-fx-font-family: Consolas, Monospace;
}

/* do not gray selection bar when table view is not focused */
.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-view .TRACE {
	-fx-background-color: #ffffff;
	-fx-text-fill: #333333;
}

.table-view .DEBUG {
	-fx-background-color: #eeeeee;
	-fx-text-fill: #333333;
}

.table-view .INFO {
	-fx-background-color: #cae6ff;
	-fx-text-fill: #333333;
}

.table-view .WARN {
	-fx-background-color: #f48840;
	-fx-text-fill: #333333;
}

.table-view .ERROR {
	-fx-background-color: #ff4242;
	-fx-text-fill: #333333;
}


/** text field highlights */
.textCorrect {
	-fx-text-box-border: green;
	-fx-focus-color: green;
	
}

.textIncorrect {
	-fx-text-box-border: red;
	-fx-focus-color: red;	
}